p,h3{
  text-align: center;
}
body{
  font-family: "Inika";
}
.idwm-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.idwm:hover{
  transform: scale(1.05)
}
a{
  text-decoration: none;
}